%h1 At this page you can edit user profile

= form_with scope: :user, url: users_path, local: true do |form|

	= form.label :name
	= form.text_field :name

	= form.label :role
	= form.text_field :role, placeholder: "user or admin"

	= form.submit

%br/