= render partial: "sign_in"

%h1 List of all users (only admin can see this)
- if @users.empty?
	%b No users
- else
	- @users.each do |i|
		=  link_to i.name, user_path(i)
		Role: #{i.role}
		= link_to 'Edit', edit_user_path(i)
		= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure?' }
		%br/