%h1 You can create new user at this page

= form_with scope: :user, url: users_path, local: true do |form|

	= form.label :name
	= form.text_field :name

	= form.label :role
	= form.text_field :role, placeholder: "user or admin"

	= form.submit

%br/
= link_to "List of users", controller: "users", action: "index" 